<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameAPIServerDemoPage</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameAPIServerDemoPage</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Game API Demo</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">DBデータ(未完)</a></li>
                    <li><a>何か</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h3>すべての配信状況取得デモ</h3>
<form action="/" method="GET">
    <input type="submit" value="すべての配信状況を取得">
</form>

<h3>Twich取得デモ</h3>
<form action="/" method="GET">
    <input type="submit" value="Twichの配信状況を取得">
</form>

<h3>YouTube取得デモ</h3>
<form action="/" method="GET">
    <input type="submit" value="YouTubeの配信状況を取得">
</form>

<footer>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</footer>

</body>
</html>